[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cvsem"]
	path = cvsem
	url = https://github.com/annawysocki/cvsem
[submodule "stim"]
	path = stim
	url = https://github.com/annawysocki/stim
